@font-face {
    font-family: Oswald-regular;
    src: url('../../Oswald/Oswald-Regular.ttf');
}
@font-face {
    font-family: Oswald-Bold;
    src: url('../../Oswald/Oswald-Bold.ttf');
}
@font-face {
    font-family: italianno;
    src: url('../../Italianno/Italianno-Regular.ttf');
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}
.header{
    display: flex;
    justify-content: center;
    gap:20px;
    font-family: Oswald-regular;
    font-size: min(36px,12px + 3vw , 12px + 3vh);
    color:wheat;
    padding:12px 24px;
    background-color: brown;
}

.header-link:hover{
    transition: 0.1s ease-in;
    transform:translateY(-5px);
}

#content{
    width:min(600px,100%);
    margin:0 auto;
    padding:20px;
}
.homeContainer{
    display: flex;
    flex-direction: column;
    color:wheat;
    align-items: center;
    background-color: brown;
   gap:20px;
    height: 80vh;
    font-family: Oswald-Bold;
    padding:15px;
}
.homeContainer .titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}
.homeContainer h1{
    
    font-size: min(5rem,34px + 1vw);
    text-align: center;
}
.homeContainer h4{
    font-family: italianno;
    text-align: center;
    font-size: min(30px , 25px + 1vw);
}
.btn{
    border: none;
    padding:12px 24px;

}
.menu-btn{
    color:brown;
    background-color: wheat;
    border-radius: 10px;
    font-family: Oswald-regular;
    font-size: min(1.2rem , 8px + 1.5vw);

}
.locationContainer{
    font-size: min(1.2rem , 8px + 1.5vw);
}